@mixin backgroundImage {
  background-image: url("../../img/Frame.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right center;
}

@mixin flexSpaceAround {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@mixin flexSpaceBetween {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@mixin flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flexColumnFlexStart {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// MEDIA QUERIES

// tablet

// @media screen and (max-width: 102.4rem){
//     .first-section{
//         &__container{
//             max-width: 76rem;
//             padding: 4rem 14rem;
//             background-color:red;
//         }
//     }
// }

// MEDIA QUERIES

@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media screen and(max-width: 23.4375em) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media screen and(max-width: 46.5em) {
      @content;
    }
  }
  @if $breakpoint == res900 {
    @media screen and(max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == res1130 {
    @media screen and(max-width: 70.625em) {
      @content;
    }
  }
  @if $breakpoint == res1280 {
    @media screen and(max-width: 80em) {
      @content;
    }
  }
}
