$smallcaps: small-caps;
$gray: rgb(98, 98, 98);
$white: #fff;
$font-weight: 600;

@mixin flex(){
    display: flex;
    flex-direction: column;
}

@mixin fixed-position(){
    position: fixed;
    top:0;
    left:0;
}

*{
    box-sizing:border-box;
}

body{
    margin:0;
}

body,
html{
    height:100%;
    width: 100%;;
}

.container{
 
    .sidebar{
        @include flex;
        @include fixed-position;
        height:100%;
        width:250px;
        background-color: rgb(29, 34, 34);

        padding-top: 20px;
        padding-left: 30px;
        
        a{
            text-decoration: none;
            font-size: 24px;
            font-variant: $smallcaps;
            font-weight: $font-weight;
            color: $gray;

                i{
                    margin: 10px;
                    font-size: 28px;
                    color:$gray;
                }

                &:hover{
                    color:$white;
                    i{
                        color:$white;
                    }
                }
                        
            }
        }
    }

    .main{
        margin-left: 300px;

        h2{
            font-size: 32px;
            font-variant: $smallcaps;
        }

        p{
            font-variant: $smallcaps;
        }
    }
