.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.text-center{
    text-align: center;
}
.smallcaps{
    font-variant: small-caps;
}
header{
    height: 160px;
    display: flex;
}
header img{
    background-color: rgb(234,210,168);
    margin: 0 30px;   
}
section{
    margin: 30px 10px;
    box-sizing: border-box;
}
body{
    background-color: rgb(234,210,168);
}
nav ul{
    text-align: right;
    display: flex;
    margin: 70px auto 70px 600px;
}
nav ul li{
    list-style-type: none;
    font-size: 20px;
    margin-right: 10px;
}
.row{
    display: flex;
    flex-direction: row;
}
.column{
    display:flex;
    flex-direction: column;
}
.border{
    border: 3px solid black;  
}
.center{
    align-items: center;
}
footer{
    background-color: #996633;
    height: 250px;
}
div{
    padding-left: 20px; 
}
h3{
    font-size: 40px;
    font-variant: small-caps;
    padding-left: 40px;
}
figure{
    margin-top: 30px;
    margin-left: 20px;
}
figcaption{
    padding-left: 25px;
}
.section1 ul li{
    list-style-type: none;
    margin-right: 50px;
    max-width: 500px;
}
span{
    display: inline-block;
    margin-right: 100px;
}
.position{
    margin: 0 100px;
    max-width: 650px;
    min-height: 300px;
}
h4{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 24px;
}
footer ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 18px;
}
footer div{
    display: inline-block;
    margin-left: 80px;
    font-size: 20px;
}
footer iframe{
    margin: 20px 30px;
}

