@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  // CONVERTING FONT_SIZE
  // 1REM = 10PX

  font-size: 62.5%;
  @include respond(res1280) {
    font-size: 60%;
  }
  @include respond(res1130) {
    font-size: 58%;
  }
  @include respond(res900) {
    font-size: 56%;
  }
  @include respond(tablet) {
    font-size: 54%;
  }
  @include respond(phone) {
    font-size: 52%;
  }
}

body {
  font-family: "Roboto";
  font-weight: 400;
  padding: 0 10rem;
  @include respond(res1280) {
    padding: 0 6rem;
  }
  @include respond(res1130) {
    padding: 0 5rem;
  }
  @include respond(res900) {
    padding: 0 3rem;
  }
  @include respond(tablet) {
    padding: 0 2.4rem;
  }
  @include respond(phone) {
    padding: 0 1.6rem;
  }
}
